.MuiMenu-list {
  .material-icons {
    padding-right: 8px;
    font-size: 20px;
  }
}

.menu-item-value {
  display: flex;
  align-items: center;
}

.MuiSelect-select {
  display: flex !important;
  .material-icons {
    padding-right: 8px;
    font-size: 20px;
  }
}
