.todo-container {
  padding: 2em 1em;
  display: flex;
  align-items: center;
  // min-height: 100vh;
  background-color: #f2f2f2;
}

.todo-box {
  margin: 0 auto !important;
  text-align: center;
  // background-color: aqua;
  // padding: 2em;
}

.add-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;
}

.list-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  background-color: rgb(231, 231, 231);
  border-radius: 0.5em;
  padding: 1em;
  // box-shadow: rgba(75, 75, 75, 0.2) 0px 2px 4px 0px;
}
