.date-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.arrow-icon {
  display: flex;
  align-items: center;
  .material-icons {
    padding-top: 6px;
    font-size: 20px;
  }
}
